@import '../../styles/_stylesVar.scss';
.footer{
    background-color: $azul-rodape;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list{
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    &__li{
       margin-right: 1em;
    }
    h1{
        font-family: 'GandhiSansBold';
        font-size: 20px;
        margin-right: 40px;
        color: #FFF;
    }
}